*{
   box-sizing: border-box;
   font-family: 'Merriweather', serif;
}

body{
   overflow-x: hidden;
   background-color: #F5F5F7;
}

#content{
   background-color: #b8b8b82d;
   border-color: rgba(66, 65, 65, 0.514);
   margin:40px 120px 20px 120px;
   border-style: dashed;
   border-spacing: 70px;
   border-radius: 20px 20px;
}

nav{
   background-color: #000000CC;
   color: #F5F5F7;
   text-align: center;
   font-size: 2rem;
   padding: 7px 0px 10px 0px;
   margin: -10px -10px ;
}

#nav {
   padding: 5% 12% 2%;
}

#intro{
   margin-left: 10px;
   background-color: #1D1D1DCC;
   border-style: solid;
   border-color: #1d1d1de3;
   border-radius: 10px;
   border-width: 3px;
   padding: 10px 20px 10px 20px;
   color: rgba(255, 255, 255, 0.801);
}

.c1{
   background-color: #1D1D1DCC;
   border-style: solid;
   border-color: #1d1d1de3;
   border-radius: 10px;
   border-width: 3px;
   padding: 15px 30px 15px 30px;
   color: rgba(255, 255, 255, 0.801);
}

h2{
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   font-style: italic;
   color: #1d1d1dc7;
}

a{
   cursor: pointer;
   text-decoration: none;
   font-weight: 700;
   color: rgba(255, 255, 255, 0.801);
}

form{
   padding:10px 20px 10px 20px;
}

#updates{
   padding:10px 20px 10px 20px;
}

#end{
   margin-left: 8px;
   background-color: #1D1D1DCC;
   border-style: solid;
   border-color: #1d1d1de3;
   border-radius: 10px;
   border-width: 3px;
   color: rgba(255, 255, 255, 0.801);
   padding: 10px 20px 10px 20px;;
}

#footer{
   background-color: #000000CC;
   color: #F5F5F7;
   text-align: center;
   font-size: 1.5rem;
   padding: 20px 0px 50px 0px;
   margin: 0px -8px 0px -8px;
}

.custom-padding {
   padding: 3% 7%;
}